@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}
body {
  font-family: system-ui;
  font-size: .25rem;
  line-height: 1.5;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
li, a {
  font-family: "Motserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding-left: 15px;
}
p:nth-child(5n) {
  margin-bottom: 20px; /* Adjust the space after every 4th paragraph */
}
.logo {
  display: flex; /* Allow for centering vertically */
  align-items:start; /* Center the logo vertically */
  color: rgb(24, 3, 3);
  font-size: 1.4rem;
  font-weight: bold;
  color: rgb(48, 2, 2);
  font-family: 'Indie Flower', cursive;
}
.custom-font{
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
}
.logos {
  margin-right:10px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  /* background-image: url("https://live.staticflickr.com/65535/52663134520_8c36612769_z.jpg"); */
}
ul.nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0; /* Add this line to remove default margin on ul */
  padding: 0; /* Add this line to remove default padding on ul */
  font-size: 0.7rem;
}
ul li {
  align-items: center;
}
.nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
}
.nav li {
  display: inline-block;
}
.nav li a {
  transition: all 0.3s ease 0s;
  font-size: 0.8rem;
}
.nav li a:hover {
 color: #0088a9;
}
div.container2 {
  
  border: 1px solid red;

}
.nav a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}
.search-bar {
  display: flex;
  align-items: center;
}
.search-bar input[type="text"] {
  border-radius: 18px;
  border: none;
  font-size: 0.7rem;
  padding-left: 10px; 
}
.search-bar button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.nav li a {
  margin: 0 1px;
}
.nav li:not(:first-child) {
  margin-left: 40px;
}
.nav a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}
.nav a:hover {
  color: white;
}
.nav li {
  transition: transform 0.3s ease-in-out;
  margin: 0 1px;
}
.main {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
}
.text {
  color: white;
  font-family: system-ui;
  font-size: 1rem;
}
.text2 {
 color:white;
}
.title {
  background-image: url("Assets/sky2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 10px; 
}
.title2 {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 70rem;
  overflow-x: hidden;
  flex: 0 0 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin-bottom: 30px;
}
.container3 {
  flex: 0 0 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-bar {
  display: flex;
  align-items: center;
}
.search-bar input[type="text"] {
  border-radius: 18px;
  border: none;
  font-size: 1.1rem;
}
.search-bar button {
  background-color: transparent; 
  border: none;
  cursor: pointer;
  }
.flow > :where(:not(:first-child)) {
  margin-inline-start: var(--flow-spacer, var(--spacer));
}
h5 {
  display: inline; /* or any other appropriate display value */
  font-size: inherit;
  margin: 0; /* or adjust margin as desired */
  font-weight: inherit;
}
.card__img {
  transition: transform 0.3s ease-in-out; /* Add transition for smooth effect */
}
.card__img:hover {
  transform: scale(1.1); /* Specify the desired scale transformation on hover */
} 
#show_bg_2 {
  background-image:
  linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
  url('#');
  width: 80%;
  height: 300px;
  background-size: cover;
  color: white;
  padding: 20px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.art.jir {
  position: relative;
  bottom: 15rem; /* Adjust this value to move the element up */
}
.post {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  max-width: 70rem;
  overflow: hidden;
  flex: 0 0 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 550px;
  }
.flex {
  display: flex;
  gap: var(--gap, var(--spacer));
}
.card__content {
  background:white;
  align-self: flex-end;
  /*margin: .9rem 1rem -1.1rem 1rem; 
  /* margin: 0.5rem 0.5rem -2rem; */
  padding: .5rem;
  box-shadow: 0 .25rem 1rem rgb(0 0 0 / .1);
  font-size: 0.4rem;
}
.card__title {
  font-size:0.8rem;
  line-height: 1.1;
  color:firebrick;
}
.grid {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
 /* background-color: rgb(238, 225, 225); */
  padding-block: max(1vh, 1rem);
  text-align: center;
  justify-content: center;
  padding: 5px;
}
.grid img {
  max-width: 80%;
  height: auto;
  display: flex; /* Change the display value to flex */
  justify-content: center;
  align-items: center;
  align-self: center;
}
.cart {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  font-family: "Motserrat", sans-serif;
  color: white;
  width: 20rem;
}
.grid p {
  font-size: 1rem;
  color: black;
}
@media (min-width: 40em) {
.card.featured {
  grid-row: span 2;
  grid-column: span 2;
}
.card.featured .card__title {
  font-size: 1rem;
}
}
.card__description {
  font-size: .7rem;
  color: black;
}
.card__price {
  font-size: 1rem;
  color: black;
}
.stacked {
  display: grid;
}
.stacked > * {
  grid-column: 1 / 2 ;
  grid-row: 1 / 2;
}
.card__img {
  width: 50%;
  aspect-ratio: 1 / 1.25;
  object-fit: cover;
}
@media only screen and (min-width: 50em) {
#show_bg_2  {

}
.even-columns {
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  }
}
.main-layout {
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  border: 1px solid white;
}
.with-sidebar {
  grid-template-columns: 1fr 20rem;
}
.header {
  padding-block: max(1vh, 0.5rem);
  text-align: center; 
  justify-content: center;
  font-size: 1.7rem;
} */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }
  h1,
  h2,
  h3,
  h4 {
    font-family: var(--ff-secondary);
  }
  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role="list"],
  ol[role="list"] {
    list-style: none;
  }
  /* Set core root defaults */
  html:focus-within {
    scroll-behavior: smooth;
  }
  /* Set core body defaults */
  .product-grid {
    display: grid;
    gap: 1rem;
    /* 1fr 1fr 1fr: */
    grid-template-columns: 
    repeat(auto-fit, minmax(10rem, 1fr));
  }
  .product-grid img {
    max-width: 100%;
    max-height: 100%;  
    object-fit: cover;
    width: 100%;
    height: auto; 
    transition: transform .5s ease;
  }
  .product-grid:hover img {
    transform: scale (1.5);
  }
  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
.casestudies {
    align-items: stretch;
    display:grid;
    grid-area: casestudies;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    justify-self: stretch;
    margin:0 auto;
    max-width: 90%;
}
.content{
  position: relative;
  overflow: hidden;
}
.rest {
  text-align:center;
  font-size: 1rem;
  padding-left: 30px;
  padding-right: 30px;
  
}

.content .content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    width: 81%; /* Adjust the width to match the image size */
    height: 65%; /* Adjust the height to match the image size */
    opacity: 0;
    margin: 0;
    padding: 0;
    transition: all 0.4s ease-in-out;
}
.content:hover .content-overlay{
    opacity: 1;
    cursor: pointer;
}
.content-image{
    width: auto;
    height:auto;
    max-width: 80%;
    max-height: 95%;
}
.content-details {
    position: absolute;
    text-align: center;
    padding: 0 1rem;
    width: 100%;
    top: 40%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}
.content-details h2{
  color: #F4FAFF;
  font-weight: 100;
  margin-bottom: 0.5rem;
}
.content-details p{
  color: #F4FAFF;
  font-size: 1rem;
}
.fadeIn-bottom{
  top: 80%;
}
.content .content-details .content-title {
  width: 70%;
  height: 30%;
}
.content-text {
  width: 70%;
  height: 50%;
}
.search-bar button img {
  width: 20px; /* Specify the desired width */
  height: 20px; /* Specify the desired height */
  vertical-align: middle; /* Align the image vertically within the button */
}
.content-title {
  font-size: 1.3rem; /* Specify the desired font size */
}
.cart h2 a, .cert h3 {
  color: white; /* Specify the desired text color */
  text-decoration: none; /* Remove underline from the link */
  font-family: "Motserrat", sans-serif;
  font-size: 1rem;
}
.cart h1 a{
  color: black;
  text-decoration: none;
}
.cart p {
  font-size: 14px; /* Specify the desired font size */
  color: white; /* Specify the desired text color */
  font-family: "Motserrat", sans-serif;
}
.cart:nth-child(1) img {
  width: 200px; /* Specify the desired width for the first cart's image */
  height: auto; /* Maintain aspect ratio */
}
#mobile {
  margin-right: 10px;
  margin-bottom: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 1px solid #0078D7; /* Microsoft's primary color */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
   /*  */
}
  
@media screen and (max-width: 1324px) {
  .container2 {
    display: none;
  }
}
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
  animation-duration: 0.01ms !important;
  animation-iteration-count: 1 !important;
  transition-duration: 0.01ms !important;
  scroll-behavior: auto !important;
  }
}