@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  font-family:  calibri;/* 'Poppins', sans-serif;   */
  margin: 0;
  padding: 0; 
  text-decoration: none;
}
li:hover i.fa-solid.fa-house,
li:hover i.fa-regular.fa-user,
li:hover a[href="#home"],
li:hover i.fa-regular.fa-file,
li:hover a[href="#resume"],
li:hover i.fa-solid.fa-wand-magic-sparkles,
li:hover a[href="#portfolio"],
li:hover i.fa-brands.fa-servicestack,
li:hover a[href="#services"],
li:hover i.fa-regular.fa-envelope,
li:hover a[href="#contact"] {
  color: white;
}
li:hover i.fa-solid.fa-house.active ~ a[href="#home"],
li:hover a[href="#home"] ~ i.fa-solid.fa-house.active {
  color: #1E90FF;
}
li:hover i.fa-solid.fa-wand-magic-sparkles ~ a[href="#portfolio"],
li:hover a[href="#portfolio"] ~ i.fa-solid.fa-wand-magic-sparkles {
  color: #1E90FF;
}
ul#nav li a:hover {
  color: white;
  font-weight: 500;
}
.fa-wand-magic-sparkles:hover {
  list-style: none;
  color: white;
}
i.fa-solid.fa-wand-magic-sparkles {
  content: "\f00d";
}
.fa-regular.fa-file a {
  padding-left: 4px; /* adjust the value to your preference */
}
.fa-regular.fa-user a {
  padding-left: 3px;
}
.fa-brands.fa-servicestack a {
  padding-left: 3px;
}
.fa-regular.fa-envelope {
  padding-left: 3px;
}
#arrow-up {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #555;
  cursor: pointer;
}
  #arrow-up::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  width: 20px;
  height: 20px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
}
#back-to-top img {
  place-self: end;
  position: sticky;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 30%;
}
#back-to-top {
  display: grid;
  text-decoration: none;
  background-color: var(--color-accent);
  box-shadow: 0 0.6em 1em 0.2em var(--color-accent-alpha);
  transform: translateY(0%);
  transition: ease-out 200ms;
  transition-property: transform, background-color;
  position: fixed; /* Add position: fixed to make it stick to the screen */
  bottom: 1rem; /* Set the distance from the bottom */
  right: 1rem; /* Set the distance from the right */
}
#back-to-top:hover {
  transform: translateY(-22%);
}
#back-to-top img {
  pointer-events: none;
}
#back-to-top::before {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: auto;
}
.search-bar {
  width: 80%;
  max-width: 700px;
  background: transparent;
  display:flex;
  padding: 5px 5px;
}
.search-bar input {
  background: transparent;
  flex:1;
  border: 0;
  padding: 1px 2px;
  font-size: 1.2rem; 
}
::placeholder {
  color: white;
}
.search-bar button img {
  border:0 ;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  cursor: pointer;
  margin-left: -2rem;
}
.search-bar button {
  border: 0;
  border-radius: 10%;
  cursor:pointer;
  background: transparent;
}
input[type="text"] {
  caret-color: white;
  color: white;
}
.thumb:hover {
  font-style:black;
  width: 250px;
  height: 50px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.skills {
  margin-left: 20%;
}
.wrap2 {
  font-size: 22px;
  color:white;
  font-size: 44px;
  margin-left: 56rem;
  margin-top: 9rem;
  font-weight: 700;
  background: 
  -webkit-linear-gradient(45deg, #62a7c7, #5430b6 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.wrap3 {
  background: white;
  /* -webkit-linear-gradient(45deg, #62a7c7, #5430b6 80%); */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.underline {
  overflow-x:hidden;
}
.pic {
  width: 100%;
  margin-left: 14%;
  max-width: 86%;
  min-height: 720px;
  height: 100vh;
  background-image: url("https://live.staticflickr.com/65535/52663134520_8c36612769_z.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  overflow-x:hidden;
}
#nav {
  max-width: 20%;
  height: 100vh;
  background-color: black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  position: fixed; 
}
#nav li:hover {
  background-color: #1E90FF;
  color: black;
  cursor: pointer;
  padding: 5px 20px;
  border: 2px solid transparent;
  border-radius: 18px;
}
#nav .header a {    /* ML  */
  font-size: 1.2rem;
  color: white;
}
#nav .header {
  text-align: center;
}
#nav .header2 a, #nav .header3 a{
  display: block;
  color:white;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
.me {
  color: #149ddd;
}
#nav img {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}
#nav .header2 {
  text-align: center;
  position: absolute;
  bottom: 1.5rem;
  left: 0;
  right: 0;
}
#nav .header3 {
  text-align: center;
  position: absolute;
  bottom:0;
  left: 0;
  right: 0;
}
#nav li a {
 color:white; 
}
#nav li {
  font-size: 1rem;
  margin: 1rem;
  list-style: none;
  }
.typewrite > .wrap {
  border-right: 0.08em solid #CCCCCC;
  animation: blink 0.3s step-end infinite;
  font-size: 32px;
  color:white;
  margin-left: 56rem;
}
@keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: #615959; }
}
#small2 {
  background-image: url('https://live.staticflickr.com/65535/52663134520_8c36612769_z.jpg');
  background-size: cover;
  background-position: center;
}
img#small2 {
  margin-top: 1rem;
 }
#small2 {
  cursor: pointer;
  align-self: center;
  border-radius: 60%;
  border: 5px solid rgb(68, 64, 64);
  transition: all 200ms ease-out;
  box-shadow: 0px -10px 30px #ccc;; 
  max-width: 50%;
}
#small2:hover {
  box-shadow: 0 0 6px rgba(35, 173, 278, 1);
}
.small2 {
  transform: scale(0.5);
  margin-top: -6rem;
  margin-left: 4.5%;
  width: 50%;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease-in-out; 
  outline: 0,5px solid black;
}
.small2:hover {
  transform: scale(0.55);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6); 
}
.dropbtn {
	background-color: #ffffff;
	padding: 16px;
	font-size: 16px;
	border: none;
	border-radius:12px;
}
.rzad {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 20%;
}
.skill {
  width: 160px;
  height: 160px;
  position: relative;
  margin: 2rem;
  margin-top: 5rem;
}
.outer {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2),
              0 0 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.outer:hover {
  transform: scale(1.1);
}
.inner {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2),
              inset 0 0 20px rgba(0, 0, 0, 0.1),
              0 0 2px rgba(0, 0, 0, 0.2),
              0 0 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;            
}
.inner:hover {
  transform: scale(1.1);
}
#number, #number2, #number3, #number4 {
  font-weight: 700;
  color : #543030;
  font-size: 1.1rem;
}
circle {
    fill: none;
    stroke:url(#GradientColor);
    stroke-width: 20px;   /*   472 -472 x 0.65 */
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    animation: anim 2.7s linear forwards;
}
#circle2 {
  fill: none;
  stroke:url(#GradientColor);
  stroke-width: 20px;   /*   472 -472 x 0.65 */
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  animation: anima 2.1s linear forwards;
}
#circle3 {
  fill: none;
  stroke:url(#GradientColor);
  stroke-width: 20px;   /*   472 -472 x 0.65 */
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  animation: animat 1.9s linear forwards;
}
svg {
    position:absolute;
    top:0;
    left:0;
}
.main {
  font-weight: 600;
  margin-left: 4rem;
}
.show-on-mobile {
  display: none;
}
@keyframes anim {
    100% {
        stroke-dashoffset: 44;   /* 90%   88 80%*/
    }
}
@keyframes anima {
  100% {
      stroke-dashoffset: 88;   /* 90%   88 80%*/
  }
}
@keyframes animat {
  100% {
      stroke-dashoffset: 122;   /* 90%   88 80%*/
  }
}
#nav2, #nav3 {
  color:#000000;
  list-style: none;
  text-align: left;
}
#nav2 li, #nav3 li{
  padding: 5px;
  margin-bottom: 20px;
}
.navi{
  display: flex;
  justify-content: space-around;
}
.bullet-symbol {
 color: #149ddd;
 font-weight: 900;
}
li i{      /* ikonki */       
 color:#ffffff;
}
a:hover {
  color: #0c68e1;
}
i:hover {
  color: #0c68e1;
}
.lista {
  list-style: none;
  margin: 0;
  padding: 0;
}
#about {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 20%
}
.text {
  background-color:rgb(255, 255, 255);
  color:black;
  align-items: center;
  max-width: 100%;
}
.button:hover {
  background-color: #149ddd;
  /* transform: scale(0.95); */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6); 
  transition: transform 0.3s ease-in-out;
  transform: scale(0.95) translateY(1px); 
}
.button span:hover {
  color:white;
}
.button {
  width: 300px;
  height: 25px;
  background-color: transparent;
  /*border: 3px solid #149ddd;*/
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-left: 78%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button span {
  color: black;
  font-weight: bold;
  font-size: 1rem;
  font-weight: 200;
  font-family: helvetica;
}
#resume, .rel{
  margin-left: 20.5%;
}
p.par {    
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5;
  letter-spacing: 0.5px;
  margin-left: 20%;
}
p.par2 {
  max-width: 100%;
  margin: 0 auto;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5;
  letter-spacing: 0.5px;
  padding: 10px;
  margin-left: 20%;
}
p.par3{
  padding: 10px;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5;
  letter-spacing: 0.5px;
  margin-left: 20%;
  max-width: 100%;
 
}
.text2 {
  display: flex;
  margin-left: 5%;
  max-width: 100%;
}
.bottom {
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5;
  letter-spacing: 0.5px;
  margin-right: 10rem;
 }
p.bottom2{
  font-size: 1rem;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5;
  letter-spacing: 0.5px;
  margin-right: 10rem;
 }
.services, .vis {
  margin-right: 0.2rem;
  width: 3rem;
  height: 3rem;
 }
.office {
  width: 7rem;
  height: 7rem;
 }
.test-grid {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  gap:3rem;
  margin-left: 20%;
  margin-inline: auto ;
	width:min(65%, 45rem );
}
.grid-span-2 {
	grid-column: span 2;
}
.art {
	padding:0.5rem;
	border-radius: 0.5rem;
}
.art.jir {
  position: relative;
  bottom: 2rem; /* Adjust this value to move the element up */
}
.art-1 {
  display: flex;
  align-items: center;
}
.art:last-child {
	grid-column-start: 4;
	grid-row-start: 1;
	grid-row-end: 3; /* span 2     
	grid-row: 1/3; */
}
 /* .art:nth-child(3) {
   }  */
.art1 {
  flex: 1;
}
.services {
  align-items: center;
}
.art1 {
  box-shadow: 1.5rem 1.75rem 1rem;
}
h3{
  padding-bottom: 10px;
  font-size: 20px;
}
h4 {
  background-color: #d9e4f6;
  display:inline-block;
  font-weight: 600;
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px; 
}
.lista li {    /* space of tick */
  position: relative;
  margin-bottom: 10px;
  font-size: 0.9rem;
}
.con, #services{
  margin-left: 20%;
}
.edu {
  margin-left: 20%;
}
.skills .underline h1::after {
  content: "";
  height: 3px;
  display: block;
  position: absolute;
  background-color: #149ddd;
}
.right h2::after {
  content: "";
  width: 29rem;
  height: 3px;
  display: block;
  position: absolute;
  background-color: #149ddd;
}
.underline h2::after {
  content: "";
  width: 4rem;
  height: 3px;
  display: block;
  position: absolute;
  background-color: #149ddd;
}
.line h2::after {
  content: "";
  width: 3.2rem;
  height: 3px;
  display: block;
  position: absolute;
  background-color: #149ddd;
}
.cv h2::after {
  content: "";
  width: 5rem;
  height: 3px;
  display: block;
  position: absolute;
  left: 10p;
  bottom: 10;
  background-color: #149ddd;
}
.relevant h2::after {
  content: "";
  width: 16.7rem;
  height: 3px;
  display: block;
  position: absolute;
  left: 10p;
  background-color: #149ddd;
}
.edu h2::after {
  content: "";
  width: 6rem;
  height: 3px;
  display: block;
  position: absolute;
  left: 10p;
  bottom: 10;
  background-color: #149ddd;
}
.serv h2::after {
  content: "";
  width: 5rem;
  height: 3px;
  display: block;
  position: absolute;
  left: 10p;
  bottom: 10;
  background-color: #149ddd;
}
.con h2::after {
  content: "";
  width: 5rem;
  height: 3px;
  display: block;
  position: absolute;
  left: 10p;
  bottom: 10;
  background-color: #149ddd;
}
.movi h2::after {
  content: "";
  width: 7rem;
  height: 3px;
  display: block;
  position: absolute;
  left: 10p;
  bottom: 10;
  background-color: #149ddd;
}
.location, .email, .call {
  margin-left: 1rem;
  margin-bottom: -2rem;
  margin-top: 1rem;
  font-weight: normal;
}
.tytul {
  display: flex;
  flex-direction: row;
  margin-left: 21%;
  margin-top: 15px;
  font-size: 18px;
}
.mov {
  margin-left:21%;
  font-size: 1rem;
  margin-right:3rem;
  width: 50rem;
}
.movi {
  margin-top: -4.5rem;
  margin-right: 6rem;
}
.zoom {
  margin-left: rem;
}
.move, .move2 {
  margin-right: 3rem;
}
.certy {
  display: flex;
  flex-direction: row;
}
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
}
#mobile {
  margin-right: 20px;
  margin-top: 10px;
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 1px solid #0078D7; /* Microsoft's primary color */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Optional shadow effect */
}
#maps {
  display:flex;
  flex-direction: row;
}
.footer {
  width: 100%;
  margin-top: 1rem;
  padding: 50px 25%;
  color: white;
  background: rgb(131, 124, 124);
  display: flex;
}
.loc {
  width: 5%;
  display: inline-block;
  vertical-align: middle;
}
h5 {
  margin-top: 25px;
}
.adres, .data, .numer {
  margin-left:3rem;
  color: #000000;
  font-family: calibri, Arial, sans-serif;
  font-weight: normal;
}
.data a {
  text-decoration: none;
  color: black;
}
.rectangle {
  background-color: #ffffff;
  height: 31rem;
  width: 33rem;
  box-shadow: 0 0 24px 0 rgb(0 0 0 / 16%);
  margin-left:20%; 
  margin-right: 5rem;
}
.rectangle2 {
  background-color: #ffffff;
  width: 33rem;
  box-shadow: 0 0 24px 0 rgb(0 0 0 / 16%);
  }
.mapy {
  width: 30rem;
  height: 240px;
  border: 0;
  margin-left: 4%;
}
.mac{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}
.container {
  display: flex;
  flex-direction: row;
}
div.container {
  margin-left: 66%;
}
.jirka {
  width: 35%;
  height:35%;
}
.service {
  width: 25%;
  height:8%;
}
.powershell, .office365 {
  list-style: none;
}
.office{
  margin-top: -2rem;
  width: 6rem;
  height: 6rem;
}
.powershell li {
  position: relative;
  padding-left: 0.5rem;
  margin-bottom: 10px;
  font-size: 0.9rem;
}
.title {
  display: flex; 
  flex-direction: row;
  align-items: center;
}
.image-text, .services {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 0;
}
.second {
  display: flex;
}
.tick {
  width:1rem; 
  float:left;
  background-image: url("https://live.staticflickr.com/65535/52720042494_e7e3cff07e_t.jpg");
}
.tick-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("https://live.staticflickr.com/65535/52720042494_e7e3cff07e_t.jpg");
  background-size: cover;
  margin-right: 5px;
}

img#small {
 width: 7rem;
 height: 7rem;
}
#subject {
  height:80px;
}
#small3, #small4 {
  transition: transform .5s ease;
  height: auto;
  width: 22%;
}
#small4 {
  transition: transform .5s ease;
  height: auto;
  width: 40%;
}
#small3:hover, #small4:hover, #small:hover{
  transform: scale(1.4);
}
#small {
  transition: transform .5s ease;
  height: auto;
  width: 15%;
}
input#search-input {
  border-radius: 2rem;
  border: 1px solid #332d2d;
  padding: 0.1rem;
  margin-top: 1rem;
  padding-left: 10px;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
  background-color: #149ddd;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: block; /* set the display property to block */
  margin: 0 auto; /* set the left and right margin to auto */
}
input[type=submit]:hover {
  background-color: #0c658f;
}
.cont {
  border-radius: 5px;
  background-color: #FFFFFF;
  padding: 30px;
}
.testi {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  margin-left: 20%;
  margin-right: 5%;;
}
figure.snip1157 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  color: #333;
  margin-left: 21%;
  text-align: left;
  box-shadow: none !important;
  align-self: flex-start; 
  margin-left: 1rem;
  margin-right: 1rem;
}
figure.snip1157 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
figure.snip1157 blockquote {
  display: block;
  border-radius: 8px;
  position: relative;
  background-color: #fafafa;
  padding: 45px 20px 30px 10px;
  font-size: 0.8em;
  font-weight: 500;
  margin: 0;
  line-height: 1.6em;
  font-style: italic;
}
figure.snip1157 blockquote:before,
figure.snip1157 blockquote:after {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}
figure.snip1157 blockquote:before {
  top: 25px;
  left: 20px;
}
figure.snip1157 blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 0;
}
figure.snip1157 .arrow {
  top: 100%;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #fafafa;
  margin: 0;
  position: absolute;
}
.wrapper {
  display: inline-flex;
  list-style: none;
  justify-content: center;
  flex-direction: row;
}
.wrapper .icon {
  position: relative;
  background: rgb(44, 43, 43);
  border-radius: 50%;
  margin: 0.25rem;
  max-width: 2%;
  max-height: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #ffffff;
}
.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: #ffffff;
}
.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #733299;
  color: #ffffff;
}
.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}
.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #CD201F;
  color: #ffffff;
}
.show-on-desktop {
  display: block;
}
.show-on-mobile {
  display: none;
}
@media screen and (max-width: 2560px) {

#nav {
  height: 100%;
  width: 14%;
}
.test-grid {
  width: min(60%, 70rem);
}
}
@media screen and (max-width: 1524px) {
#nav .header2 a, #nav .header3 a{
  display:none;
}  
.footer {
  width: 100%;
}
#nav {
  padding: 2rem;
  flex-wrap: wrap;
}
.wrapper {
 flex-wrap:wrap;
}
}
@media screen and (max-width: 1324px) {
.rzad {
  display: flex;
}
img.small2 {
  display:none;
}
.search-bar {
  margin-left: 8rem;
}
nav {
  position: static;
}
.pic {
  margin-left: 0.5rem;
}
#nav .header a {    /* ML  */
  font-size: 0.9rem;
}
#nav .header {
  justify-content: center;
  align-items: center;
}
img#small2 {
  margin-top: 1rem;
  width: 100%;
  height: 10%;
  margin: 0;
  padding:0;
}
ul#nav {
  max-width: 12%;
  height: 50rem;
}
h2.skills {
  font-size: 1.5rem;
  margin-left: 1rem;
}
.container {
  width: 70%;
}
div.container {
  margin-left: 10%;
}
.test-grid {
  width:min(65%, 45rem );
}
.movi {
  margin-top: -5rem;
  margin-right: 2rem;
}
p.bottom2 {
  margin-top: 1rem;
}
#nav .header2 a, #nav .header3 a{
  display:none;
}
#nav {
  display: none;
}
#maps {
  display:flex;
  flex-direction: column;
}
.mapy {
  width: 21rem;
  height: 250px;
}
.rectangle {
  margin: 0;
  margin-left: 10px;
  width: 90%;
}
.wrapper {
  display: inline-flex;
  list-style: none;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
}
@media (max-width: 768px) { 
#back-to-top {
  display: none !important;
}
#about {
  margin-left: 1rem;
}
#myForm {
  width: 134%;
  margin: auto;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
}
p.par {
  width: 100%;
  margin: 0;
  padding: 20px;
}
p.par3 {
  margin: 0;
  padding: 20px;
}
p.par2 {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}
.con {
 margin: 0;
 padding: 0;
 margin-left: .5rem;
}  
h2.m365 {
  margin-left: 1rem;
}
h2.rel, h2#contact {
  margin-left: 1rem;
}  
.relevant {
  margin: 0;
}
p.par, p.par3 {
  margin: 0; 
  padding: 20px; 
}
.button {
  margin-left: 16%;
}
.rzad {
  margin: 0;
  padding: 0;
  margin-left: 3rem;
}
.rectangle2 {
  box-sizing: border-box;
  padding: 10px;
}
.cont {
  border-radius: 5px;
  background-color: #FFFFFF;
  padding: 5px;
  width: 70%;
}
#services {
  margin-left: 1rem;
}
#portfolio {
  margin: 0 auto;
  margin-left: 1rem;
}
.testi {
  display:flex;
  flex-direction: column;
  width: 25rem;
  margin: auto;
}
.m365 {
  font-size: 1.5rem;
}
.test-grid {
  display: flex;
  flex-direction:column;
  gap:0.5rem;
  width: min(85% , 45rem);
}
#nav {
  max-width: 100%;
  height: auto;
  padding: 10px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: static;
}
.navi {
  display: flex;
  margin-left: 1rem;
}
.pic, #small2, .small2, #nav  {
  display:none ;
}
.text {
  max-width: 100%;
}
.rzad {
  display:flex;
  flex-direction: row;
}
div.bottom2 {
  font-size: 16px;
  margin-left: 10%;
  margin: 0;
}
.text2 {  
  margin:0;
}
p.bottom {
  margin: 0;
  padding: 20px;
}
p.bottom2 {
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;
}
div.tytul {
  width:100%;
  margin-left: 1rem;
}
.mov {
  width: 50%;
  width: 90%;
  margin: 0;
  padding: 0;
  margin-right: 3rem;
  margin-left: 0.8rem;
}
.certy {
  flex-direction: column;
} 
.movi {
  margin-left: 1rem;
  margin-top: 1rem;
}
#mobile {
  display: block;
}
.underline h1::after {
  content: "";
  width: 3.8rem;
  height: 3px;
  display: block;
  position: absolute;
  left: 2.8rem;
  bottom: 10;
  background-color: #149ddd;
}
.right h2::after {
  content: "";
  width: 29rem;
  height: 3px;
  display: block;
  position: absolute;
  background-color: #149ddd;
}
.cv h1::after {
  content: "";
  width: 5rem;
  height: 3px;
  display: block;
  position: absolute;
  left: 3rem;;
  bottom: 10;
  background-color: #149ddd;
}
.relevant h1::after {
  content: "";
  width: 16rem;
  height: 3px;
  display: block;
  position: absolute;
  left: 3rem;;
  bottom: 10;
  background-color: #149ddd;
}

}
@media screen and (max-width: 480px) { 
.edu {
  margin-left: 1rem;
}
h2#resume {
  margin-left: 1rem;
}
#mobile {
  display: block;
}
div.flex {
  align-content: stretch;
  justify-content: space-between;
}
.tytul {
  display: flex;
  flex-direction: column;
}
#nav {
  max-width: 100%;
}
#maps {
  width: 100%;
  display: block;
}
.zoom {
  margin: auto;
  width: 25rem;
}
.show-on-desktop {
  display: none;
}
.show-on-mobile {
  display: block;
}
.right h2::after {
  content: "";
  width: 13rem;
  height: 3px;
  display: block;
  position: absolute;
  background-color: #149ddd;
}
.rectangle {
  margin: auto;
}
.rectangle2 {
  width: 23rem;
  height: 100%; 
  margin: auto;
}
.cont {
  border-radius: 15px;
  background-color: #FFFFFF;
  padding: 10px;
}
.footer {
  font-size:1.1rem;
  margin: 0 auto;
  width: 100%; /* set the width to 100% so that it takes up the entire width of its parent container */
  padding: 40px 5%;
  color: white;
  background: rgb(151, 150, 150);
  display: flex;
  flex-direction: column; /* change the flex direction to column so that the child elements stack vertically */
  align-items: center; /* center the child elements horizontally */
  text-align: center; /* center the text within the child elements */
}
}
